@font-face{
    font-family: "Mplus";
    src: url(fonts/mplus-1m-regular.ttf);
}
p,#menu li a{
    color:white;
    font-size: larger;
}
h2,button{color: white;}
#menu li a:hover,#menu #pcourant{color: rgb(88, 191, 255);}
.title{color: rgb(88, 191, 255);font-size: 50px;}
.title1{color: rgb(88, 191, 255);font-size: medium;}
.sumup p{font-size: smaller;}
#source{font-size: x-small;}
a{
    color: white;
}
a:hover{
    color: aqua;
}